{% include "base.html" %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#usage">Usage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#methods">Methods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#datatypes">DataTypes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#foreignkey">Foreignkey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#getdata">GetData</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#serializer">Serializer</a>
                </li>
            </ul>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1 class="text-left">Documentation</h1>

            <section id="overview" class="mt-5 w-100">
                <h2>Overview</h2>
                <p>This documentation provides an overview of the custom ORM developed for managing database operations.</p>
            </section>

            <section id="usage" class="mt-5 w-100">
                <h2>Usage</h2>
                <p>The following code examples demonstrate how to use the custom ORM to interact with the database:</p>
                <pre><code class="language-python">
# Example of defining a model
from core.datatypes import Datatypes

class User(CrabModel):
    _column = {
        'name': Datatypes.varchar(max_length=25),
        'email': Datatypes.emailfield(unique=True)
    }

# Creating a new user
user = User.add_data(
    'name': 'YourName',
    'email': 'youremail@email.com'
)

# Querying the database (serialized)
from core.serializer import Serializer

def data_serializer(model, fields):
    data = Serializer.all_data(
        model=model,
        fields=fields
    )
    return data

def get_serialized_data(): 
    user = data_serializer(
        model='model', 
        fields=('id', 'name', 'email')
    )
    result = User.get_data(user)
    return result
                </code></pre>
            </section>

            <section id="methods" class="mt-5 w-100">
                <h2>Methods</h2>
                <p>The ORM provides several methods for database operations:</p>
                <ul>
                    <li><strong>add_data()</strong>: Method used to add a dictionary of data to an instance of a model. This method allows you to bulk insert data into a model by passing a dictionary where the keys correspond to the column names and the values correspond to the data you want to insert.
                        <pre><code class="language-python">
# Example
data = {
    'name': 'user1',
    'email': 'user1@gmail.com',
}
User.add_data(data)
                        </code></pre>
                    </li>
                    <li><strong>delete()</strong>: A class method used to delete a record from the database table associated with the model. The record to be deleted is identified by its primary key (id).
                        <pre><code class="language-python">
# Example 
User.delete(pk=1)
                        </code></pre>
                    </li>
                    <li><strong>add_column()</strong>: Method used to add a new column to an existing table in the database. Before adding the column, it checks if the column already exists in the table. If the column exists, it skips the addition; if not, it adds the new column.
                        <pre><code class="language-python">
# Example usage of the add_column method
newCol = CrabModel.add_column(
    model='user',
    fields='newCol',
    datatype=DataTypes.varchar(max_length=10)
)
                        </code></pre>
                    </li>
                    <li><strong>filter_data()</strong>: It is a class method used to filter records from the database table associated with the class. It retrieves rows from the specified table where a given column matches a specified value and returns these rows as a list of dictionaries.
                    <pre><code class="language-python">
#Example:
results = YourModel.filter_data('field_name', 'value')
print(results)
[{'id': 1, 'column_name': 'value', 'other_column': 'other_value'}, ...] #Output
                        </code></pre>
                    </li>
                </ul>
            </section>

            <section id="datatypes" class="mt-5 w-100">
                <h2>DataTypes</h2>
                <p>The `DataTypes` class provides a set of static methods to define various data types and constraints. These methods can be used to specify the type of data that a column will hold, along with optional constraints such as `NOT NULL`, `UNIQUE`, and references.</p>
                <h3>Available Data Types</h3>
                <ul>
                    <li class="mb-2"><strong>varchar(max_length=255, unique=False)</strong>: Defines a `VARCHAR` column with a maximum length and optional `UNIQUE` constraint. The default maximum length is 255 characters.</li>
                    <li class="mb-2"><strong>integer()</strong>: Defines an `INTEGER` column that cannot be `NULL`.</li>
                    <li class="mb-2"><strong>boolean()</strong>: Defines a `BOOLEAN` column. This data type can store `True` or `False` values.</li>
                    <li class="mb-2"><strong>emailfield(unique=True)</strong>: Defines a `VARCHAR` column specifically for storing email addresses. It includes a `UNIQUE` constraint by default.</li>
                    <li class="mb-2"><strong>datetimefield(auto_add_now=True)</strong>: Defines a `DATETIME` column that automatically sets its value to the current timestamp when a new record is added.</li>
                </ul>
                <h3>Usage Examples</h3>
                <pre><code class="language-python">
class Student(CrabModel):
    _column = {
        'name': DataTypes.varchar(max_length=100),
        'age': DataTypes.integer(),
        'email': DataTypes.emailfield(),
        'created_at': DataTypes.datetimefield()
    }
                </code></pre>
                <p>In the examples above, the `Student` model includes columns for storing a student's name, age, email, and the timestamp of their creation.</p>
            </section>

            <section id="foreignkey" class="mt-5 w-100">
                <h2>ForeignKey</h2>
                <p>The `ForeignKey` class is a utility designed to facilitate the creation of foreign key constraints in database table definitions.</p>
                <h3>Creating Foreign Keys</h3>
                <p>The `ForeignKey` class provides a static method, `create_foreignkey`, which generates a foreign key constraint for a specific column in a table.</p>
                <h4>Method Details</h4>
                <ul>
                    <li><strong>create_foreignkey(field_name: str, model: str)</strong>: Generates a foreign key constraint for the specified `field_name`, linking it to the `id` column of the referenced `model`.</li>
                </ul>
                <h4>Parameters</h4>
                <ul>
                    <li class="mb-2"><strong>field_name</strong> (str): The name of the column in the current table that will act as a foreign key.</li>
                    <li><strong>model</strong> (str): The name of the table that contains the primary key being referenced by the foreign key.</li>
                </ul>
                <h3>Usage Example</h3>
                <pre><code class="language-python">
class Enrollment(CrabModel): 
    _column = {
        'student_id': DataTypes.integer(),
        'enrolled_course': DataTypes.integer()
    } 
    foreign_keys = [ 
        ForeignKey.create_foreignkey('student_id', 'student'),
        ForeignKey.create_foreignkey('enrolled_course', 'course')
    ]
                </code></pre>
            </section>

            <section id="getdata" class="mt-5 w-100">
                <h2>GetData</h2>
                <p>The `GetData` class provides utility methods for querying and retrieving data from the database.</p>
                <h3>Querying Data</h3>
                <p>Several methods are available for querying data:</p>
                <ul>
                    <li class="mb-2"><strong>all_data(model: str, fields: tuple)</strong>: Fetches all records from the specified model, including only the fields listed in the `fields` tuple.</li>
                    <li class="mb-2"><strong>get_data(model: str, **filters)</strong>: Retrieves records from the specified model that match the given filter criteria.</li>
                </ul>
                <h3>Usage Examples</h3>
                <pre><code class="language-python">
def fetch_all_users():
    return GetData.all_data(
        model='User',
        fields=('id', 'name', 'email')
    )

def fetch_user_by_email(email):
    return GetData.get_data(
        model='User',
        email=email
    )
                </code></pre>
            </section>
            <section id="serializer" class="mt-5 w-100">
                <h2>Serializer</h2>
                <p>
                    The <strong>Serializer</strong> class is a utility designed to convert
                    database query results into a more manageable format, 
                    specifically a list of dictionaries or a single dictionary.
                </p>
            
                <h3>Methods</h3>
                <ul>
                    <li>
                        <strong>all_data(model: str, fields: tuple) -&gt; list[dict]</strong>
                        <p>
                            This method fetches all records for a given model and serializes them into a list of dictionaries. Each dictionary represents a row of data, with keys corresponding to the specified fields.
                        </p>
                        <p><strong>Parameters:</strong></p>
                        <ul>
                            <li class="mb-2"><strong>model:</strong> The name of the model to query.</li>
                            <li class="mb-2"><strong>fields:</strong> A tuple of field names to include in the result.</li>
                        </ul>
                        <p><strong>Returns:</strong> A list of dictionaries, each representing a row of data.</p>
                    </li>
                    
                    <li>
                        <strong>one_data(model: str, fields: tuple, pk: int) -&gt; dict</strong>
                        <p>
                            This method fetches a single record by its primary key and serializes it into a dictionary. The dictionary's keys correspond to the specified fields.
                        </p>
                        <p><strong>Parameters:</strong></p>
                        <ul>
                            <li class="mb-2"><strong>model:</strong> The name of the model to query.</li>
                            <li class="mb-2"><strong>fields:</strong> A tuple of field names to include in the result.</li>
                            <li><strong>pk:</strong> The primary key of the record to fetch.</li>
                        </ul>
                        <p><strong>Returns:</strong> A dictionary representing the row of data.</p>
                    </li>
                </ul>
            
                <h3>Usage Example</h3>
                <p>
                    To use the <strong>Serializer</strong> class, call one of its static methods, 
                    passing the required parameters. For example:
                </p>
                <pre><code class="language-python">

# Example of fetching all data from a model called 'User' with fields 'id', 'name', 'email'
users = Serializer.all_data('User', ('id', 'name', 'email'))
            
# Example of fetching a single user's data by primary key
user = Serializer.one_data('User', ('id', 'name', 'email'), pk=1)
                    </code>
                </pre>
            </section>
            
        </main>
    </div>
</div>
{% endblock %}
