{% include "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Teacher Table:</h1>

        <div class="d-flex justify-content-center mb-3">
            <a href="/add_student" class="btn btn-success me-2">Add Student</a>
            <a href="/add_teacher" class="btn btn-success">Add Teacher</a>
        </div>

        <div class="table-responsive">
          <table class="table text-center mx-auto">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
              </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                  <th scope="row">{{ item.id }}</th>
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.subject }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock %}
